body{
  background: url(../img/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Header{
	background-color: rgba(100, 255, 218, 0.2);
	box-shadow: 5px 5px 0px 0px rgba(100, 255, 218, 0.9);
	border: 5px solid rgba(100, 255, 218 ,0.2);
	border-radius: 0px 0px 300px 0px;
}